<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body bgcolor="lightgreen">
    <h2><font face="arial"> Bookmarks: </font></h2>
    <ul>
      <% @bookmarks.each do |bookmark| %>
      <li class="bookmark" id="bookmark-<%= bookmark.id %>">
        <a href="<%= bookmark.url %>" target="_blank"><font face="arial"> <%= bookmark.title %> </font></a>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
          <input type='hidden' name='_method' value='DELETE'/>
          <input type="submit" value="Delete" />
        </form>
        <form action="/bookmarks_update/<%= bookmark.id %>" method="get">
          <input type="submit" value="Find" />
        </form>
        <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
        <input type="submit" value="Add Comment" />
      </form>
      <ul>
        <% bookmark.comments.each do |comment| %>
          <li><%= comment.text %></li>
        <% end %>
      </ul>
      </li>
      <% end %>
    </ul>
      <form action="/bookmarks" method="post">
        <h3><font face="arial"> Add URL: </font></h3>
        <input type="text" font="arial" name="url">
        <h3><font face="arial"> Add Title: </font></h3>
        <input type="text" font="arial" name="title">
        <br><br>
        <input type="submit" font="arial" value="Add Bookmark">
      </form>
      <p> <%= flash[:notice] %> </p>
    </body>
</html>
